# For scraping
tweepy
requests

# NLP, formatting, and utils
pygments
unidecode
tqdm
docopt

# Image and numerical libs
opencv-python
numpy
matplotlib
Pillow
lapjv
sklearn
scipy

# Deep learning (> 1.5 TF breaks some computers)
keras
tensorflow==1.5.0
